#table1,td{
    border: 1px solid black;
    padding: 5px;
    margin: 2px;


}

#tr1 td{
    font-weight: 900;
}
td{
    padding: 5px;
}

#div1{
    width: 50%;
    
    margin: 5px auto;
    text-align: center;
    display: flex;
    justify-content: center;

}

#image{
    width: 50%;

    margin: 5px auto;
   
    display: flex;
    justify-content: center;
}
#image img{
    width: 60%;
    height: 440px;


}

#perposal{
    width: 50%;
    margin: 5px auto;
}

strong{
    font-size: 20px;
}

body{
    background-color: ghostwhite;
    color: black;
}
